---
import Form from "../components/Form/Form.astro";

const schema = JSON.parse(`
{
  "type": "object",
  "title": "Form",
  "properties": {
	"name": {
	  "type": "string",
	  "title": "Name"
	},
	"email": {
	  "type": "string",
	  "title": "Email"
	},
	"password": {
	  "type": "string",
	  "title": "Password"
	},
	"personalInfo": {
		"type": "object",
		"title": "Personal Info",
		"properties": {
			"age": {
				"type": "string",
				"title": "Age"
			},
			"birthday": {
				"type": "date",
				"title": "Birthday"
			},
			"acceptsTerms": {
				"type": "boolean",
				"title": "Accept Terms of Service"
			}
		}
	},
	"submit": {
		"type": "submit",
		"title": "Submit"
	}
  }
}
`)

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro Forms Example</h1>

		<Form schema={schema} action="/" method="post" />
	</body>
</html>
